.vscode
.DS_Store

/vendor
/log
/tmp
/backups

composer.lock

# secrets
.env
.ssh

# private key for CI
scripts/scheduler-deploy

# contact information for students and recipients of the schedule that will be used to send emails
config/contacts.php
config/app_config.json
config/schedule_recipients.php
FileRegistry/registry.php
tests/tmp/registry.php

# folders containing schedule data for each year
data/20*

# schedule data created from schedules that were created by the user
data/forms/*
data/schedules/*
data/assignments/*
data/special_events/*
data/contacts/*
data/secrets/*

# do not include downloaded content from the website per user agreement
workbooks/pdf/*
workbooks/rtf/*
/workbooks

test_email.php

.phpunit.result.cache
