<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Functions</directory>
            <directory suffix=".php">./FileRegistry</directory>
            <directory suffix=".php">./Validation</directory>
            <directory suffix=".php">./Utils</directory>
            <exclude>
                <directory>./Utils/templates</directory>
                <directory>./Utils/MWBDownloader</directory>
                <directory>./Functions/CLI</directory>
                <directory>./Functions/Bootstrapping</directory>
                <file>./Utils/*config.php</file>
                <file>./Utils/MailSender.php</file>
                <file>./Utils/*Interface.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
