:root {
    --primary: #FF5733;
    --primary-monochromatic: #FF2D00;
    --secondary: #33DBFF;
    --white: #fff;
    --black: #000;
    --light-gray: #eee;
    --ultra-light-primary: #fff6f6;
    --ultra-light-secondary: #ebfafc;    
}
